//- /*nav*/
//-   //- div(class='nav-wrapper green')
//-   //-   a(href="#" data-activates="mobile-demo" class="button-collapse")
//-   //-     i.material-icons menu
//-   //-   ul(class='right hide-on-med-and-down')
//-   //-     li
//-   //-       a(href='#home') home
//-   //-     li
//-   //-       a(href='#about') about us
//-   //-     li
//-   //-       a(href='#') mission
//-   //-     li
//-   //-       a(href='#') galleries
//-   //-     li
//-   //-       a(href='#') contact us
ul(class='side-nav fixed red', id='mobile-demo slide-out')
  li
    a(href='#home', class='white-text') home
  li
    a(href='#about', class='white-text') about us
  li
    a(href='#mission', class='white-text') Services
  li
    a(href='#galleries', class='white-text') galleries
  li
    a(href='#contact', class='white-text') contact us
